packages:
  yum:
    mariadb-devel: []
    gcc: []
    python3-devel: []
    openssl-devel: []
    zlib-devel: []
    libffi-devel: []

commands:
  01_enable_epel:
    command: "amazon-linux-extras enable epel"
  02_clean_yum:
    command: "yum clean all"
  03_install_epel:
    command: "yum install -y epel-release"
  04_install_pkgconfig:
    command: "yum install -y pkgconfig"
    test: "[ ! -f /usr/bin/pkg-config ]"